.navbar-gray {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(80, 80, 80, 0.7); 

  }
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .nav-button {
    margin-top: 10px; 
  }
  .navbar-logo-gray {
    font-size: 2.5rem; 
    font-weight: bold; 
    color: #ffffff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  }
  .nav-links-gray {
    color: white; 

  }
  .pet-text {
    color: #ffffff; 
  }
  .logger-text {
    color: #01B636; 
  }
  .navbar-logo-gray ::first-letter {
    color: #ffffff; 
  }
  .navbar-logo-gray ::first-letter + ::first-letter {
    color: #01B636; 
  }

.navbar-gray {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(80, 80, 80, 0.7); 

  }
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .nav-button {
    margin-top: 10px; 
  }

  .navbar-logo-gray {
    font-size: 2.5rem; 
    font-weight: bold; 
    color: #ffffff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  
  }
