.form {
  max-width: 1000px;
  margin-top: 10vh;
  margin-left: 1vh;
  font-family: Arial, sans-serif;
  background-color: rgba(208, 249, 201, 0.909);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  border: 1px solid #ccc;
}
.logform-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
