
.navbar {
  background-color: rgba(88, 159, 75, 1.0);
    color: #ffffffd3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding:5px;
  }
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    padding: 1.5rem;
    order: 0; 
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
  }
  
  .nav-item {
    margin-right: 50px;
  }
  
  .nav-links {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
  
  }
  
  .nav-links:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 3px;
  }
  