/* Sticky Footer styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  .main-content {
    flex-grow: 1;
    background-color:#E3E3E3;
  }
  .footer {
    background-color: #01B636;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  