
html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;

    background-image: url(../images/overallBack.jpg) ;
    background-repeat: repeat-y;
    background-size: cover;
  
  /* THIS WILL CHANGE THE BACKGROUND FOR THE ENTIRE WEBSITE SO KEEP THAT IN MIND*/
}

body {
  display: flex;
  flex-direction: column;
}
/* Main content container on the first landing page to ensure they stay together */
.CenterLog {
  background-color: rgba(171, 162, 118, 0.6);
  border-radius: 10%;
}
/* Main content container */
.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center-align the content horizontally */
}

/* Video container */
.video-container {
  height: 60vh; 
  position: relative; 
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


.green-box {

  background-color: rgba(88, 159, 75, 1); 
  color: #fff; 
  padding: 20px;
  border-radius: 10px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  margin: 20px 0; 
  text-align: center; 
  font-size: 18px; 
}
.welcome-messages {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
}
.landingpageContain {
  display: flex;
  justify-content: space-between;
  margin-left:50vh;
}
.iframe-container-landing {
  flex: 1;
  display: flex;
  margin-left: 45vh;
  justify-content: space-between;
  box-sizing: border-box;
}
iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
.welcome-message {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #056d24;
  background-color: rgba(171, 160, 105, 0.6);
  padding: 20px;
  margin-top: 20px;
  border-radius: 20%;
}

.sub-message,
.final-message {
  font-size: 18px; 
  margin-bottom: 10px;
}
.image-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.image {
  max-width: 60%;
  margin: 0 15px;}
